﻿@model ProfessorMvcModel

<super-bs4-crud-header-and-footer>
    @Model.EditorTemplate(Html, 100, 100)
    <hr />
    @Model.EditorTemplate(Html, 200, 200, "marker='M2'")
</super-bs4-crud-header-and-footer>

@*<super-bs4-crud-edit page-title="Edit Professor"/>*@
