﻿@model MajorDetailMvcModel

<super-bs4-crud-edit page-title="Edit Major" />
<hr />

@*
<super-bs4-crud-children-list title="Students" items="@Model.Students" child-controller-type="typeof(StudentController)" parent-id="@Model.Id" />
*@

<super-bs4-crud-multi-column-children-editable-list title="Students" items="@Model.Students" child-controller-type="typeof(StudentController)" parent-id="@Model.Id" type-of-data-context="typeof(DataContext)"/>
