<!doctype html>
<html lang="en">
<head super-bs4-d3-add-meta-and-links>
    <title>SIS</title>
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body super-bs4-d3-add-scripts>
    <script type="text/javascript" src="~/js/site.js"></script>
    @RenderBody()
</body>
</html>